include:
  # this code relies on the sysconfig part of https://github.com/darix/suse-base-profile
  - includes.thepostman

# you just want to get a minimal config back to what would be in the package
postfix:
  enabled: True
  config:
    main.cf:
      myhostname: localhost
    master.cf:
      # update just the maxproc field compared to the distro default config:
      smtp-inet:
        maxproc: 100
      # define a default submission service
      # Adding this to the includes list would give you the same:
      # - includes.thepostman.services.submission-remote
      submission-inet:
        name: submission
        type: inet
        private: 'n'
        unpriv: '-'
        chroot: 'n'
        wakeup: '-'
        maxproc: '-'
        command: 'smtpd'
        args: '-o syslog_name=postfix/submission -o smtpd_forbid_unauth_pipelining=no -o smtpd_tls_security_level=encrypt -o content_filter=smtp:[127.0.0.1]:10024 -o smtpd_sasl_auth_enable=yes -o smtpd_tls_auth_only=yes -o local_header_rewrite_clients=static:all -o smtpd_hide_client_session=yes -o smtpd_reject_unlisted_recipient=no -o smtpd_client_restrictions=$mua_client_restrictions -o smtpd_helo_restrictions=$mua_helo_restrictions -o smtpd_sender_restrictions=$mua_sender_restrictions -o smtpd_recipient_restrictions= -o smtpd_relay_restrictions=permit_sasl_authenticated,reject -o milter_macro_daemon_name=ORIGINATING'
  maps:
    relay:
      - "localhost ok"
    helo_access: |-
      127.0.0.1 REJECT nuuuuhuuuu
    # any file name here will be saved as /etc/postfix/{filename}
    custom_map_for_x:
      - "ohnoes"
    sasl_passwd: |-
      example.com hello:supersecure

dovecot:
  enabled: True
  config:
    dovecot:
      listen: 127.0.0.2
      'language en':
        default: yes
      'language de': {}
      '!include_try':
        - ssl
      managesieve_notify_capability:
        mailto: yes
    ssl:
      ssl_server:
        ssl: required
        ssl_cipher_list: ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
        ssl_curve_list: X25519:P-521:P-384:P-256
        ssl_min_protocol: TLSv1.3
        ssl_options: no_ticket
        # ca_file: /etc/ssl/ca-bundle.pem
        # cert_file: /etc/step/certs/boxie.home.example.net.full.pem
        # key_file: /etc/step/certs/boxie.home.example.net.full.pem
        prefer_ciphers: client

rspamd:
  enabled: True
  running: False
  dkim_signing:
    default_type: ed25519
    types_config:
      rsa:
        key_length: 2048
  config:
    local:
      dkim_signing:
        # Enable DKIM signing
        enabled: true
        # Sign outbound mail only
        sign_authenticated: true
        sign_local: true
        sign_inbound: false
        # Default settings
        use_esld: true
        check_pubkey: true
        domain:
          example.com:
            selector: mail
            path: /etc/rspamd/dkim_keys/mail.key
          example.org:
            selector: example_org
            path: /etc/rspamd/dkim_keys/eample.org.rsa.4096.key
          example.net:
            selectors:
              - path: "/etc/rspamd/dkim_keys/example.net.rsa.key"
                selector: "example_net_rsa"
              - path: "/etc/rspamd/dkim_keys/example.net.ed25519.key"
                selector: "example_net_ed25519"
      redis:
        write_servers: "localhost:6379"
        read_servers: "localhost:6379"
      settings:
        dkim_signing_submission:
          request_header:
            '"MTA-Name"': "ORIGINATING"
          priority: high
          apply:
            symbols_enabled:
              - "DKIM_SIGNED"
            flags:
              - "skip_process"